@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

/* Styles voor alle HTML files */


*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing:border-box; 
}

p, li, a, button, h1, h2 {
  font-family: "Maven Pro";
}

h1 {
  font-size: 20px;
  font-weight: 500;
}



/* Styles voor de header in alle HTML files */


/* Header - "Stijladvies nodig" */
header section:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545d63;
  color: #fff;
  font-size: 14px;
  padding: 1em 0;
}

header section:nth-of-type(1) a {
  color: #fff;
}

/* Header - "Logo en icons" */
header section:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1em;
}

header section:nth-of-type(2) img {
  max-width: 6em;
}

header section:nth-of-type(2) nav ul {
  display: flex;
  list-style-type: none;
}


/* Header - "Formulier" */
header form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: none;
  height: 2.5em;
  background-color:#f5f6f4;
  border-radius: 0.5em;
  padding: 0.8em;
  margin: 0 1em 1em 1em;
}

header form input {
  flex: 1;
  height: 2.5em;
  border:none;
  outline: none;
  font-size: 14px;
  padding-left: 1em;
  background-color: #f5f6f4;
}



/* Styles voor de main in alle HTML files */


/* Main - "Afbeelding homepagina" */
main .image-homepage img {
  max-width: 100%;
}


/* Main - "Carousel homepagina" */
main .carousel-homepage h1 {
  margin-top: 2em;
  padding-bottom: 1em;
  margin-left: 1em;
}

main .carousel-homepage ul {
  display:flex;
  overflow-x:auto;
  margin-left: 1em;
  margin-right: 1em;
  gap: 0.5em;
  width: 100%;
  list-style-type: none;
}

main .carousel-homepage ul img {
  width: 11em;
}

main .carousel-homepage a {
  text-decoration: none;
  color: black;
}

main .carousel-homepage ul p:nth-of-type(1) {
  margin-top: 0.7em;
  font-size: 13px;
  font-weight: 500;
}

main .carousel-homepage ul p:nth-of-type(2) {
  margin-top: 0.3em;
  font-size: 13px;
  font-weight: 400;
}

main .carousel-homepage ul p:nth-of-type(3) {
  margin-top: 2em;
  font-size: 13px;
  font-weight: 400;
}